
*{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,p{
  font-family: 'Cedarville Cursive', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Merriweather', serif;
font-family: 'Poiret One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Tiro Bangla', serif;
}




#header{
  background-image: url(images/2nd\ bg.jpg);
  height: 80vh;
  background-size: cover;
  background-position: center;
}

.navbar-nav li a
{
  float: right;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing:.5px;
  transition: all ease-in-out 3s;


 
}
.navbar-toggler{
  border: none!important;
  outline:none !important ;
  
}
.welcome{
  padding: 50px 100px;
  margin-top: -140px;
  background-color:#342D29;
 box-shadow: 0 0 20px 7px rgba(0, 0,0, 0.3);
}


.about{
padding-top: 100px;
padding-bottom: 100px;


}
.about .col-md-6
{
  padding: 20px 10px;
}

.about h3{
  margin: 20px auto;
}


#services{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color:#efefef;
  
}
#services .col-md-4 
{
padding: 20px;
}

#services .col-md-4 h4
{
padding: 5px;
}

#services .col-md-4 img
{
width: 50px;
}
.#services .col-md-4 p
{
padding: 5px;
text-align: justify;
}

#features{
  padding-top: 100px;
  padding-bottom: 100px;

  
}
#features .col-md-4{
  padding: 10px 30px;
}
#features img{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  

}
.review{
  font-size: 16px;
  padding: 10px 10px 10px 30px;
  border-radius: 10px;

}

.subscribe{
  padding: 50px 20px;
  background-color: #013f7e;
  position: relative;
}

.subscribe h3, .subscribe p{
  color: #fff;
}

.subscribe   .input-group{
   background: #fff;
  border-radius: 30px;
  max-width: 500px;
  margin:10px auto;
  padding:5px

}
.subscribe   .form-control{
  border: none;
  background: transparent;

}
.subscribe   .form-control:focus{
 box-shadow: none;
  background: transparent;
}
.subscribe .input-group-append{
  background-image: linear-gradient( to right,#1c03b5, #5c8bef);
  border-radius: 30px;
}
.subscribe .input-group-text{
  background: transparent;
  border:none;
  color: #fff;
}
.subscribe .btn:focus{
  box-shadow: none;
}

#footer{
margin-top: 80px;
padding: 100px;
background-color: #efefef;
color:#013f7e;
}
.footer-logo{
width: 150px;
margin-top: 25px;
margin-bottom:  15px;
}
.footer h1{
  font-size:15px;
  
}